# The structure of this file is documented here:
#   https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html#linux-commands
files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/webapp.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
             "files": {
               "collect_list": [
                 {
                    "file_path": "/home/webapp/logs/webapp.log",
                    "log_group_name": "/aws/elasticbeanstalk/cloudwatch-multiline-log-messages-env/home/webapp/logs/webapp.log",
                    "log_stream_name": "{instance_id}",
                    "timestamp_format": "%d-%m-%Y %H:%M:%S.%f",
                    "multi_line_start_pattern": "{timestamp_format}"
                 }
               ]
             }
          }
        }
      }
container_commands:
  01_restart_cloudwatch_agent:
    command: systemctl restart amazon-cloudwatch-agent.service
